@import 'src/Utils/Styles/variables';

.message-input-wrapper {
  display: flex;
  align-items: center;
  padding: $base-pixel-size;
  border-top: 2px solid $base-background;
  margin-top: 2*$base-pixel-size;

  .input-file-wrapper {
    margin-left: $base-pixel-size;
    display: flex;
    flex-direction: row;

    .input-file-preview {
      margin-left: 2*$base-pixel-size;
      max-height: 4*$base-pixel-size;
      max-width: 4*$base-pixel-size;
    }

    .input-file-insert {
      height: 4*$base-pixel-size;
      cursor: pointer;
    }

    input {
      display: none;
    }

  }

  .input-content-wrapper {
    margin-left: 2*$base-pixel-size;
    width: 90%;

    input {
      width: 100%;
      height: 5*$base-pixel-size;
      background-color: $base-foreground;
      padding: $base-pixel-size 2*$base-pixel-size;
      border-radius: 2*$base-pixel-size;
      border: 1px solid $base-white;
    }

  }

  .button-wrapper button.primary {
    margin-left: 3*$base-pixel-size;
    background-color: $base-background;
  }

}