@import 'src/Utils/Styles/variables.scss';

.about-page-wrapper {
  height: 100%;
  background-color: #F8F9FA;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5*$base-pixel-size;

  .project {
    margin-bottom: 5*$base-pixel-size;

    div {
      padding: 3*$base-pixel-size;

      p {
        margin-bottom: $base-pixel-size;
        color: #3A495F;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .list-of-people {
    padding: 3*$base-pixel-size;

    .single-person {
      display: grid;
      grid-template-columns: 200px 1fr 1fr;
      padding: 2*$base-pixel-size;

      &.header {
        p {
          color: #0F2633;
          font-family: 'MontserratBold', serif;
        }
      }

      p {
        color: #3A495F;
      }

      &:nth-child(odd) {
        background-color: #F2F7FA;
      }
    }
  }
}
