@import 'src/Utils/Styles/variables';

.messages-wrapper {

  .messages-content {
    height: 95*$base-pixel-size;
    margin: $base-pixel-size;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
  }

}