@import 'src/Utils/Styles/variables';

.new-message-wrapper {
  display: flex;
  align-items: center;
  background-color: $base-background;
  height: 8.4*$base-pixel-size;

  .input-file-wrapper {
    margin-left: 3*$base-pixel-size;

    img {
      height: 4*$base-pixel-size;
      cursor: pointer;
    }

    input {
      display: none;
    }

  }

  .input-content-wrapper {
    margin-left: 3*$base-pixel-size;
    width: 93%;

    input {
      width: 100%;
      height: 5*$base-pixel-size;
      background-color: $base-foreground;
      padding: $base-pixel-size 2*$base-pixel-size;
      border-radius: 2*$base-pixel-size;
      border: 1px solid $base-white;

    }

  }

}