$base-pixel-size: 8px;


$base-black: #0F2633;
$base-blue: #3d8ebb;
$base-grey-blue: #D4E2EA;
$error-message-color: #5e202e;

$base-background: #3c3c3c;
$base-foreground: #2c2c2c;
$base-white: #cacecf;
$base-border: #858080;
$base-font-family: 'Segoe UI', sans-serif;
$base-bold-font-family: 'Segoe UI Bold', sans-serif;