$base-pixel-size: 8px;


$base-black: #0F2633;
$base-blue: #3D8EBB;
$base-grey-blue: #D4E2EA;
$error-message-color: #C94F4F;
$link-color: #cacecf;

$base-background: #3c3c3c;
$base-foreground: #2c2c2c;
$base-white: #cacecf;
$button-border: #444;