@import 'src/Utils/Styles/variables.scss';

.global-template-page-wrapper {
  z-index: 9;
  min-height: calc(100vh - 87px - 99px);

  .information {
    p {
      font-size: 3*$base-pixel-size;
      padding: 5*$base-pixel-size 0 5*$base-pixel-size 10*$base-pixel-size;
      margin-right: 12*$base-pixel-size;
      font-family: 'MontserratBold', serif;
      color: $base-white;
    }
  }
}