@import 'src/Utils/Styles/variables';

.item-wrapper {
  margin-bottom: $base-pixel-size;
  cursor: pointer;
  background-color: $base-background;
  padding: $base-pixel-size 2*$base-pixel-size;
  border-radius: 2*$base-pixel-size;
  border: 1px solid $base-border;
  display: flex;
  flex-direction: row;

  &.selected {
    border: 2px solid $base-blue;
  }

  p {
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
  }

  .item {
    width: 100%;
    text-align: end;

    &.available p {
      color: $base-greeen;
    }

    &.unavailable p {
      color: red;
    }

  }

}