@import "src/Utils/Styles/variables";

.topics-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;

  .topics-content {
    width: 75%;
    border-right: 6px solid $base-background;
    margin-right: 4px;
  }

}

