@import 'src/Utils/Styles/variables.scss';

.register-page-wrapper {
  color: $base-white;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    color: $base-blue;
    text-decoration: none;
    font-family: $base-font-family;
  }

  img {
    width: 15*$base-pixel-size;
    height: auto;
    margin-top: 3*$base-pixel-size;
  }

  h1 {
    font-size: 4*$base-pixel-size;
    margin: 3*$base-pixel-size 0;
  }

  .error-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin-bottom: 1*$base-pixel-size;
    padding: $base-pixel-size;
    background-color: $error-message-color;
    border-radius: 2*$base-pixel-size;
    border: 1px solid $base-border;
  }

  .error-message-container,
  .success-message-container {
    width: 100%;
    padding: 3.5*$base-pixel-size;
    color: #FFF;
  }

  .success-message-container {
    background-color: #44998F;
  }

  .content-container {
    width: 25%;
    background-color: $base-background;
    padding: $base-pixel-size 2*$base-pixel-size;
    border-radius: 2*$base-pixel-size;
    border: 1px solid $base-border;


    .form-input-wrapper {
      margin-bottom: 3*$base-pixel-size;
    }

    .input-container {

      .form-input-wrapper {
        margin-bottom: $base-pixel-size;
      }

      .input-validator {
        margin-bottom: 3*$base-pixel-size;

        img {
          margin-right: $base-pixel-size;
          height: 10px;
        }

        p {
          display: flex;
          align-items: center;
          color: #44998F;
          margin-bottom: $base-pixel-size*0.5;

          &.error {
            color: $error-message-color;
          }

        }

      }

    }

    .form-checkbox-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: $base-pixel-size;
    }

  }

  .button-wrapper {
    display: flex;
    justify-content: center;
  }

}
