@import 'src/Utils/Styles/variables.scss';

.footer-wrapper {
  padding: 5*$base-pixel-size 10*$base-pixel-size;
  width: 100%;
  background-color: $base-background;
  display: flex;
  justify-content: center;
  margin-top: auto;
  box-shadow: 0 6px 16px rgba(54, 121, 157, 0.14);

  .menu-list {
    display: flex;
    flex-direction: row;

    a {
      color: $link-color;
      margin-right: 10*$base-pixel-size;
      text-decoration: none;
      font-family: 'MontserratBold', serif;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}