@import "src/Utils/Styles/variables.scss";

.login-page-wrapper {
  color: $base-white;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    color: $base-blue;
    text-decoration: none;
    font-family: $base-font-family;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 15*$base-pixel-size;
      height: auto;
      margin-top: 3*$base-pixel-size;
    }

    h1 {
      font-size: 4*$base-pixel-size;
      margin-top: 3*$base-pixel-size;
    }

    p {
      font-size: 2*$base-pixel-size;
      margin-top: 2*$base-pixel-size;
      margin-bottom: 3*$base-pixel-size;
    }

  }

  .error-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin-bottom: 1*$base-pixel-size;
    padding: $base-pixel-size;
    background-color: $error-message-color;
    border-radius: 2*$base-pixel-size;
    border: 1px solid $base-border;
  }

  .content-container {
    width: 25%;
    background-color: $base-background;
    padding: $base-pixel-size 2*$base-pixel-size;
    border-radius: 2*$base-pixel-size;
    border: 1px solid $base-border;

    .button-wrapper {
      display: flex;
      justify-content: center;
    }

    .input-container {
      .form-input-wrapper {
        margin-bottom: $base-pixel-size;
      }
    }

  }

  .additional-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin-top: 1*$base-pixel-size;
    padding: $base-pixel-size;
    background-color: $base-background;
    border-radius: 2*$base-pixel-size;
    border: 1px solid $base-border;

    p {
      font-family: $base-bold-font-family;
      margin-bottom: $base-pixel-size;
    }

  }

}
