@import "src/Utils/Styles/variables.scss";

.login-page-wrapper {
  display: flex;
  justify-content: center;

  a {
    color: $link-color;
  }

  .content-container {
    width: 40%;
    background-color: $base-background;
    margin-top: 10*$base-pixel-size;
    margin-bottom: 10*$base-pixel-size;

    .error-message-container {
      background-color: $error-message-color;
    }

    .error-message-container,
    .success-message-container {
      width: 100%;
      padding: 3.5*$base-pixel-size;
      color: #FFF;
    }

    .success-message-container {
      background-color: #44998F;
    }

    .form {
      padding: 0 10*$base-pixel-size;


      .button-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 5*$base-pixel-size;
      }

      .input-container {
        .form-input-wrapper {
          margin-bottom: 3*$base-pixel-size;
        }
      }
    }

    h1 {
      display: flex;
      justify-content: center;
      padding: 10*$base-pixel-size 10*$base-pixel-size 5*$base-pixel-size;
      font-size: 4*$base-pixel-size;
      color: $base-white;
    }

    .additional-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5*$base-pixel-size;
      border-top: 2px solid $base-foreground;

      p {
        color: $base-white;
        font-family: 'MontserratBold', serif;
        margin-bottom: $base-pixel-size;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .login-page-wrapper {
    height: calc(100vh - 8 * #{$base-pixel-size});
    background-color: #FFF;

    .content-container {
      width: 100%;
      margin: 0;
      box-shadow: unset;
      background-color: transparent;

      h1 {
        margin-top: 3*$base-pixel-size;
        padding: 3*$base-pixel-size 3*$base-pixel-size;
      }

      .form {
        padding: 0 3*$base-pixel-size;

        .form-input-wrapper {
          .input-content-container {
            background-color: #FFF;
          }

          &:nth-child(2) {
            margin-bottom: 5*$base-pixel-size;
          }
        }
      }

      .additional-info {
        padding-top: 3*$base-pixel-size;
        border-top: 0;
      }
    }
  }
}