@import 'src/Utils/Styles/variables.scss';

.nav-bar-wrapper {
  width: 100%;
  display: flex;
  height: 12*$base-pixel-size;
  background-color: $base-background;

  img {
    height: 5*$base-pixel-size;
  }

  .nav-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .button-wrapper {
      margin-left: 5px;
    }

    .logo {
      margin-top: 1*$base-pixel-size;
      img {
        padding: 0.5*$base-pixel-size;
        height: 12*$base-pixel-size;
      }
    }

    .nav-bar-right {
      position: absolute;
      display: flex;
      flex-direction: row;
      align-items: center;
      right: 0;
      top: 0;

      .profile {
        padding: 0.5*$base-pixel-size;
        height: 12*$base-pixel-size;
      }

    }


  }

}