@import 'src/Utils/Styles/variables.scss';

.profile-wrapper {
  position: absolute;
  right: 0;
  top: 0;

  img {
    padding: 0.5*$base-pixel-size;
    height: 12*$base-pixel-size;
  }

  .profile-list-wrapper {
    position: absolute;
    right: 0.5*$base-pixel-size;
    top: 11*$base-pixel-size;
  }


}