@import 'src/Utils/Styles/variables';

.reservation-history-item-wrapper {
  margin-bottom: $base-pixel-size;
  background-color: $base-background;
  padding: $base-pixel-size 2*$base-pixel-size;
  border-radius: 2*$base-pixel-size;
  border: 1px solid $base-border;

  p {
    font-size: 20px;
  }

}