@font-face {
    font-family: 'Segoe UI', sans-serif;
    src: url('Font/Segoe UI.ttf');
}

@font-face {
    font-family: 'Segoe UI Bold', sans-serif;
    src: url('Font/Segoe UI Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    color: #cacecf;
}

/* width */
*::-webkit-scrollbar {
    width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.main-app-wrapper,
.main-app-wrapper-authenticated {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #2c2c2c;

}