@font-face {
    font-family: 'Segoe UI', sans-serif;
    src: url('Font/Segoe UI.ttf');
}

@font-face {
    font-family: 'Segoe UI Bold', sans-serif;
    src: url('Font/Segoe UI Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.main-app-wrapper,
.main-app-wrapper-authenticated {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #2c2c2c;
}

.main-app-wrapper-authenticated {
    display: grid;
    grid-template-columns: 80px 1fr;
}

.page-wrapper-authenticated {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F8F9FA;
}