@import 'src/Utils/Styles/variables';

.new-ticket-wrapper {
  margin: $base-pixel-size;
  padding: $base-pixel-size 2*$base-pixel-size;


  .new-ticket-header {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: $base-pixel-size;
  }

  .form-input-wrapper {
    margin-bottom: $base-pixel-size;
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
  }

}

