@import 'src/Utils/Styles/variables.scss';

.button-wrapper {
  button {
    font-size: 2*$base-pixel-size;
    padding: $base-pixel-size 5*$base-pixel-size;
    cursor: pointer;

    &.primary {
      background-color: $base-foreground;
      border-radius: $base-pixel-size;
      border-color: rgba(44, 44, 44, 0);
      color: $base-white;

      &:hover {
        background-color: $base-blue;
        border-color: rgba(44, 44, 44, 0);
      }

      &:active {
        background-color: $base-blue;
        border-color: rgba(44, 44, 44, 0);
      }

      &:disabled {
        background-color: #F2F7FA;
        border-color: #F2F7FA;
      }
    }

  }

}
