@import 'src/Utils/Styles/variables.scss';

.button-wrapper {

  button {
    font-family: $base-font-family;
    font-size: 2*$base-pixel-size;
    cursor: pointer;
    color: $base-white;


    &.primary {
      background-color: $base-foreground;
      border-radius: $base-pixel-size;
      border-color: rgba(44, 44, 44, 0);
      padding: $base-pixel-size 5*$base-pixel-size;

      &:hover {
        background-color: $base-blue;
        border-color: rgba(44, 44, 44, 0);
      }

      &:active {
        background-color: $base-blue;
        border-color: rgba(44, 44, 44, 0);
      }

      &:disabled {
        background-color: #F2F7FA;
        border-color: #F2F7FA;
      }
    }

    &.navbar {
      background-color: transparent;
      border: none;
      font-size: 4*$base-pixel-size;
      font-weight: bold;
      padding: $base-pixel-size 5*$base-pixel-size;


      &:hover {
        background-color: $base-blue;
        border-color: rgba(44, 44, 44, 0);
      }

      &:active {
        background-color: $base-blue;
        border-color: rgba(44, 44, 44, 0);
      }

      &:disabled {
        background-color: #F2F7FA;
        border-color: #F2F7FA;
      }
    }

    &.image-primary {
      background-color: transparent;
      border: none;
      align-items: center;
      font-size: 5*$base-pixel-size;
      font-weight: bold;
      padding: $base-pixel-size 5*$base-pixel-size;


      img {

      }

    }

  }

}
